.ipynb_checkpoints/.ipynb_checkpoints
data/flights/*.csv
Jupyter_Notebooks/cookies/
Jupyter_Notebooks/selenium/
Jupyter_Notebooks/.ipynb_checkpoints/
Jupyter_Notebooks/__pycache__/
Jupyter_Notebooks/drivers/
Jupyter_Notebooks/catboost_info/
Jupyter_Notebooks/pass/
Jupyter_Notebooks/modelos_ML/
src/__pycache__/
sql_databases/*.sql